// The mobile template is different
// so these are the neccessary adjustments
// to make it look like the desktop version

.topic-list {
  .topic-list-data:not(.posts) {
    display: contents;
    max-width: unset;
    .pull-left {
      display: none;
    }

    .pull-right,
    .topic-item-metadata,
    .topic-item-stats {
      display: contents;
    }
  }

  .right {
    margin: 0;
  }

  .main-link {
    --status-width: 1.4rem;
  }

  .main-link a.title {
    padding-top: calc(var(--custom-list-item-space) * 1.5);
    padding-left: var(--custom-list-item-space);
    grid-area: title;
  }

  .main-link .topic-statuses {
    grid-area: title;
    padding-top: calc(var(--custom-list-item-space) * 1.7);
    padding-left: var(--custom-list-item-space);

    // this is a little workaround
    // to adjust the title position based on status icons
    // because they don't share the same parent on mobile

    &:has(a) + a.title {
      padding-left: var(--status-width);
    }

    &:has(a + a) + a.title {
      padding-left: calc(var(--status-width) * 2);
    }

    // usually doesn't happen
    &:has(a + a + a) + a.title {
      padding-left: calc(var(--status-width) * 3);
    }

    // a little extreme at this point
    &:has(a + a + a + a) + a.title {
      padding-left: calc(var(--status-width) * 4);
    }
  }

  .topic-item-stats__category-tags {
    grid-area: category;
    margin-right: 0;
    .discourse-tags {
      display: none;
    }
    .badge-category__wrapper {
      margin-right: 0;
    }
  }

  .topic-excerpt {
    max-width: 100%;
    min-width: 0;
  }

  .discourse-tags {
    font-size: var(--font-down-2);
  }

  .topic-post-badges {
    // these aren't a child of the title on mobile
    // and take the place of the reply count when there are
    // so it's not 1:1 with desktop
    grid-area: replies;
    box-sizing: border-box;
    padding-top: var(--custom-list-item-space);
    padding-bottom: var(--custom-list-item-space);
    padding-right: var(--custom-list-item-space);
    border-top: 1px solid var(--primary-low);
    margin-top: var(--custom-list-item-space);
    font-size: var(--font-down-1);
    display: flex;
    justify-content: end;
    width: 100%;
  }
}
